{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comanda</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header>
       <a href="{% url 'visualizarPedidos' %}"><h1>Bar</h1></a>
    
    </header>
    <nav>
        <form onsubmit="handleSearch(); return false;">
            {% csrf_token %}
            <input id="pesquisar" type="text" placeholder="Buscar mesa" name="pesquisarMesa">
            <input id="buscar" type="submit" value="Buscar">
        </form>
    </nav>
    <main>
        {% for pedido in pedidos %}
            <a class="mesa" href="{% url 'pedido' pedido.id %}"><p>{{ pedido.data|date:"d/m/Y" }}
                </p>
                <h2>Mesa: {{ pedido.mesa }}</h2>
                <h3>Valor a pagar: {{ pedido.precoTotal }}</h3>
            </a>
        {% endfor %}

    </main>
    <div id="adicionar">
        <a href="{% url 'comanda'  %}"> + Adicionar pedido</a>
    </div>

    <script>
        function handleSearch() {
            const termoDeBusca = document.getElementById("pesquisar").value;
            if (termoDeBusca.trim() !== "") {
                window.location.href = "{% url 'pesquisarMesa' %}?mesa=" + encodeURIComponent(termoDeBusca);
            }
        }
    </script>

</body>
</html>