{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comanda</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header>
        <h1>Bar</h1>
    
    </header>
    <nav>
        <form action="#" method="GET">
            {% csrf_token %}
                <input  id="pesquisar" type="text" id="ipesquisa" placeholder="Buscar mesa">
                <input id="buscar" type="submit" value="Buscar">
        </form>
    </nav>
    <main>
        {% for pedido in pedidos %}
           <a class="mesa" href="{% url 'pedido' pedido.id %}">Mesa: {{ pedido.mesa }}
                <p>Preco Total: {{ pedido.precoTotal }}</p>
            </a>
        {% endfor %}

    </main>
    <div id="adicionar">
        <a href="{% url 'comanda'  %}"> + Adicionar pedido</a>
    </div>

</body>
</html>