{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comanda</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header>
        <h1>Buteko 41.</h1>
    
    </header>
    <nav>
        <form action="#" method="post">
                <input  id="pesquisar" type="text" id="ipesquisa" placeholder="Buscar mesa">
                <input id="buscar" type="submit" value="Buscar">
        </form>
    </nav>
    <main>
        {% for i in pedido%}
        <a class="mesa" href="#">Mesa: {{i.mesa}}
            <p>Cerveja: {{i.cerveja}}</p>
            <p>Preco: {{i.precoTotal}}</p>
        </a>

        {%endfor%}

    </main>
    <div id="adicionar">
        <a href="{% url 'comanda' %}"> + Adicionar pedido</a>
    </div>
</body>
</html>