{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comanda</title>
    <link rel="stylesheet" href="{% static 'comanda.css' %}">
</head>

<body>
    <header>
        <h1>Comanda</h1>
    </header>
    <main>

        <form action=" {% url 'pedido' comanda.id %}" method="POST" autocomplete="off"> {% csrf_token %}
            <p id="datahora"> {{comanda.data|date:"d/m/Y"}}
                <br>
                Hora: {{comanda.horario}}
            </p>
            <fieldset>
                <h2>Mesa: {{comanda.mesa}}</h2>
            </fieldset>
            <fieldset>
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Qtd</th>
                            <th>Valor Qtd</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "cerveja" %}
                                    {{item.sabor}}
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "cerveja" %}
                                    {{item.quantidade}}x
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "cerveja" %}
                                    {{item.precoTotalQtd}}+
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "refrigerante" %}
                                    {{item.sabor}}
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "refrigerante" %}
                                    {{item.quantidade}}x
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "refrigerante" %}
                                    {{item.precoTotalQtd}}+
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "espetinho" %}
                                    {{item.sabor}}
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "espetinho" %}
                                    {{item.quantidade}}x
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>
                            <td>
                                {% for item in comanda.listaItensSelecionados %}
                                    {% if item.produto == "espetinho" %}
                                    {{item.precoTotalQtd}}+
                                    <br>
                                    {% endif %}
                            {% endfor %}
                            </td>

                        </tr>
                    </tbody>
                </table>
                <input id="finalizar-comanda" type="submit" value="Finalizar Comanda">
                <br>
                <a href="{% url 'atualizarPedido' comanda.id %}">Atualizar</a>
            </fieldset>
            <fieldset>
                <label for="precoTotal">Preço Total:</label>
                <output id="precoTotalOutput">{{comanda.precoTotal}}</output>
            </fieldset>
        </form>
    </main>
</body>

</html>